<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://61.111.54.120:8980/mobileoffice/app/mobileoffice.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>http://61.111.54.120:8980/mobileoffice/choroc/choroc_icon.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>http://61.111.54.120:8980/mobileoffice/choroc/choroc_icon.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.choroc.mobileoffice</string>
				<key>bundle-version</key>
				<string>0.9.9</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>초록마을</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
