<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://10.30.13.96:9081/ERP/apk/Daesang.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>http://192.168.12.29:7008/ERP/apk/ic_launcher_512</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>http://192.168.12.29:7008/ERP/apk/ic_launcher_57</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.BestCOTest.Daesang</string>
				<key>bundle-version</key>
				<string>0.9.9</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>실적분석</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
